[mysqld]
character-set-server=utf8mb4                # Character code used by mysql server
explicit-defaults-for-timestamp=1　
general-log=1　                  　         # The history of all executed queries is recorded
general-log-file=/var/log/mysql/mysqld.log # Log output destination

[client]
default-character-set=utf8mb4　            # Character code used by mysql client
